/sparrow-shared-ui/target/
/sparrow-datatable/target/
/sparrow-shared-test/target/
/sparrow-business/target/
/sparrow-service/target/
/sparrow-web-ui/target/
/sparrow-validation/target/
/sparrow-calculation/target/
/sparrow-business-integration-tests/target/
/sparrow-geoserver/nb-configuration.xml
/sparrow-geoserver/target/
/sparrow-geoserver/src/main/webapp/META-INF/
/sparrow-service/src/main/webapp/META-INF/context.xml
/target/