 <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="sldResource" class="org.geoserver.sparrow.rest.resource.SparrowSLDResource"/>

    <bean id="sparrowRestConfigMapping" class="org.geoserver.rest.RESTMapping">
        <property name="routes">
            <map>
                <entry>
                    <key>
                        <value>/sld/workspace/{workspace}/layer/{layer}/{sldName}.{format}</value>
                    </key>
                    <value>sldResource</value>
                </entry>
            </map>
        </property>
    </bean>

</beans>