<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
    <display-name>SPARROW DSS Services {Owner: NB, Coder: EE}</display-name>
    <description>The SPARROW DSS application.</description>


    <filter>
        <filter-name>RequestMonitorFilter</filter-name>
        <filter-class>gov.usgswim.sparrow.monitor.RequestMonitorFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>RequestMonitorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>gov.usgswim.sparrow.LifecycleListener</listener-class>
    </listener>

    <servlet>
        <servlet-name>ModelService</servlet-name>
        <servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
        <init-param>
            <param-name>pipeline-class</param-name>
            <param-value>gov.usgswim.sparrow.service.model.ModelPipeline</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>PredictService</servlet-name>
        <servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
        <init-param>
            <param-name>pipeline-class</param-name>
            <param-value>gov.usgswim.sparrow.service.predict.PredictPipeline</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>IDByPointService</servlet-name>
        <servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
        <init-param>
            <param-name>pipeline-class</param-name>
            <param-value>gov.usgswim.sparrow.service.idbypoint.IDByPointPipeline</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>PredictContextService</servlet-name>
        <servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
        <init-param>
            <param-name>pipeline-class</param-name>
            <param-value>gov.usgswim.sparrow.service.predictcontext.PredictContextPipeline</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>EchoXMLService</servlet-name>
        <servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
        <init-param>
            <param-name>pipeline-class</param-name>
            <param-value>gov.usgswim.sparrow.service.echo.EchoPipeline</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>EchoJSONAsAttachmentService</servlet-name>
        <servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
        <init-param>
            <param-name>pipeline-class</param-name>
            <param-value>gov.usgswim.sparrow.service.echo.EchoJSONAsAttachmentPipeline</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>JSONifyService</servlet-name>
        <servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
        <init-param>
            <param-name>pipeline-class</param-name>
            <param-value>gov.usgswim.sparrow.service.json.JSONifyPipeline</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>BinningService</servlet-name>
        <servlet-class>gov.usgswim.sparrow.service.binning.BinningService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmBinningService</servlet-name>
        <servlet-class>gov.usgswim.sparrow.service.binning.ConfirmBinningService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReachGroupService</servlet-name>
        <servlet-class>gov.usgswim.sparrow.service.ReachGroupService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindCalibrationSiteService</servlet-name>
        <servlet-class>gov.usgswim.sparrow.service.idbypoint.FindCalibrationSiteService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindReachService</servlet-name>
        <servlet-class>gov.usgswim.sparrow.service.idbypoint.FindReachService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FindReachSupportService</servlet-name>
        <servlet-class>gov.usgswim.sparrow.service.idbypoint.FindReachSupportService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionService</servlet-name>
        <servlet-class>gov.usgswim.sparrow.service.metadata.SavedSessionService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HUCService</servlet-name>
        <servlet-class>gov.usgswim.sparrow.service.HUCService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReachWatershedService</servlet-name>
        <servlet-class>gov.usgswim.sparrow.service.ReachWatershedService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelpService</servlet-name>
        <servlet-class>gov.usgswim.sparrow.service.help.HelpService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndividualReachPredictService</servlet-name>
        <servlet-class>gov.usgswim.sparrow.service.predict.IndividualReachPredictService</servlet-class>
    </servlet>
    <servlet>
        <description>Ping this servlet to see what the logging output looks like</description>
        <servlet-name>LoggingTestServlet</servlet-name>
        <servlet-class>gov.usgswim.sparrow.LoggingTestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delivery_TerminalReport_Service</servlet-name>
        <servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
        <init-param>
            <param-name>pipeline-class</param-name>
            <param-value>gov.usgswim.sparrow.service.deliveryterminalreport.ReportPipeline</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delivery_TerminalReport_Service</servlet-name>
        <url-pattern>/sp_delivery_terminalreport/*</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Delivery_AggReport_Service</servlet-name>
        <servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
        <init-param>
            <param-name>pipeline-class</param-name>
            <param-value>gov.usgswim.sparrow.service.deliveryaggreport.ReportPipeline</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Delivery_AggReport_Service</servlet-name>
        <url-pattern>/sp_delivery_aggreport/*</url-pattern>
    </servlet-mapping>
		
	<servlet>
		<servlet-class>gov.usgswim.sparrow.service.maplayer.RegisterMapLayerService</servlet-class>
		<servlet-name>RegisterMapLayerService</servlet-name>
	</servlet>
	<servlet-mapping>
        <servlet-name>RegisterMapLayerService</servlet-name>
        <url-pattern>/RegisterMapLayerService/*</url-pattern>
    </servlet-mapping>
	
    <servlet>
        <servlet-name>Watershed_Service</servlet-name>
        <servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
        <init-param>
            <param-name>pipeline-class</param-name>
            <param-value>gov.usgswim.sparrow.service.watershed.WatershedPipeline</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Watershed_Service</servlet-name>
        <url-pattern>/sp_watershed/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ModelService</servlet-name>
        <url-pattern>/sp_model/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PredictService</servlet-name>
        <url-pattern>/sp_predict/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IDByPointService</servlet-name>
        <url-pattern>/sp_idpoint/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindCalibrationSiteService</servlet-name>
        <url-pattern>/sp_idcalibsite/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PredictContextService</servlet-name>
        <url-pattern>/sp_predictcontext/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EchoXMLService</servlet-name>
        <url-pattern>/sp_echo/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EchoJSONAsAttachmentService</servlet-name>
        <url-pattern>/sp_echojs/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JSONifyService</servlet-name>
        <url-pattern>/sp_jsonify/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BinningService</servlet-name>
        <url-pattern>/sp_binning/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmBinningService</servlet-name>
        <url-pattern>/sp_confirmBinning/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReachGroupService</servlet-name>
        <url-pattern>/sp_getConflictingReachGroups/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindReachService</servlet-name>
        <url-pattern>/sp_findReach/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FindReachSupportService</servlet-name>
        <url-pattern>/sp_findReachSupport/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HelpService</servlet-name>
        <url-pattern>/sp_help/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionService</servlet-name>
        <url-pattern>/sp_session/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HUCService</servlet-name>
        <url-pattern>/huc/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReachWatershedService</servlet-name>
        <url-pattern>/reachwatershed/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndividualReachPredictService</servlet-name>
        <url-pattern>/sp_indivReachPredict/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoggingTestServlet</servlet-name>
        <url-pattern>/LoggingTestServlet</url-pattern>
    </servlet-mapping>
    <!--
*****************************************
***	SPARROW Configuration
*****************************************  -->
    <session-config>
        <session-timeout>90</session-timeout>
    </session-config>
    <mime-mapping>
        <extension>html</extension>
        <mime-type>text/html</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>txt</extension>
        <mime-type>text/plain</mime-type>
    </mime-mapping>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

	<resource-ref>
		<description>Read only database for data and geometry</description>
		<res-ref-name>jdbc/sparrow_dss</res-ref-name>
		<jndi-name>jdbc/sparrow_dss</jndi-name>
		<res-type>javax.sql.DataSource</res-type>
	</resource-ref>

	<resource-ref>
		<description>Read/write database for some administrative transactional actions</description>
		<res-ref-name>jdbc/sparrow_dss_trans</res-ref-name>
		<jndi-name>jdbc/sparrow_dss_trans</jndi-name>
		<res-type>javax.sql.DataSource</res-type>
	</resource-ref>
</web-app>
