/**
 ** OracleFMW MapViewer Permission Grants
 ** Add the following grants to the end of your system's java2.policy file.
 **/

/* JPS/CSF Security Permisssions for OracleFMW MapViewer */
grant codebase "file:${oracle.home}/j2ee/home/applications/mapviewer/-" {
    permission oracle.security.jps.service.credstore.CredentialAccessPermission "credstoressp.credstore", "*";
    permission oracle.security.jps.service.credstore.CredentialAccessPermission "credstoressp.credstore.MAPVIEWER_CS.*", "read,write,update,delete";
};