<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans 
        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-2.5.xsd">

		<context:annotation-config />

	<bean id = "jndiTemplate" class = "org.springframework.jndi.JndiTemplate"></bean>
		
		
	<!-- Need to register WPS PPIOs as content handlers for response types --> 
	<bean id="serviceResponseWrapperPPIO" class="gov.usgs.cida.sparrow.service.util.ServiceResponseWrapperPPIO"></bean>
	
    <bean id="sparrowWpsFactory" class="org.geoserver.sparrow.process.SparrowWpsFactory">
    </bean>
	
    <bean id="createDatastoreProcess" class="org.geoserver.sparrow.process.CreateDatastoreProcess">
		<constructor-arg index="0" ref="catalog"/>
		<constructor-arg index="1" ref="jndiTemplate"/>
    </bean>
    
    <bean id="sweeper" class="org.geoserver.sparrow.util.GeoserverSweeperStartupListener">
		<constructor-arg index="0" ref="catalog"/>
	</bean>
	
	<!-- Register classes that have XStream Annotations -->
<!--	<bean class="org.geoserver.sparrow.XStreamAnnotationRegistrar">

		<constructor-arg>
			<list>
				<value>gov.usgs.cida.sparrow.service.util.ServiceResponseWrapper</value>
				<value>org.geoserver.sparrow.process.SparrowDataLayerResponse</value>
			</list>
		</constructor-arg>
    </bean>-->

</beans>