<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee">
	<description>
		SPARROW application.  In normal use, this would be deployed inside the Oracle
		MapViewer application, so the entries in this web.xml file would be copied
		into MapViewer's web.xml file.
	</description>
	<listener>
		<listener-class>gov.usgswim.sparrow.LifecycleListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>ModelService</servlet-name>
		<servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
		<init-param>
			<param-name>pipeline-class</param-name>
			<param-value>gov.usgswim.sparrow.service.model.ModelPipeline</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>PredictService</servlet-name>
		<servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
		<init-param>
			<param-name>pipeline-class</param-name>
			<param-value>gov.usgswim.sparrow.service.predict.PredictPipeline</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>IDByPointService</servlet-name>
		<servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
		<init-param>
			<param-name>pipeline-class</param-name>
			<param-value>gov.usgswim.sparrow.service.idbypoint.IDByPointPipeline</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>PredictContextService</servlet-name>
		<servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
		<init-param>
			<param-name>pipeline-class</param-name>
			<param-value>gov.usgswim.sparrow.service.predictcontext.PredictContextPipeline</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>EchoXMLService</servlet-name>
		<servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
		<init-param>
			<param-name>pipeline-class</param-name>
			<param-value>gov.usgswim.sparrow.service.echo.EchoPipeline</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>EchoJSONAsAttachmentService</servlet-name>
		<servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
		<init-param>
			<param-name>pipeline-class</param-name>
			<param-value>gov.usgswim.sparrow.service.echo.EchoJSONAsAttachmentPipeline</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>JSONifyService</servlet-name>
		<servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
		<init-param>
			<param-name>pipeline-class</param-name>
			<param-value>gov.usgswim.sparrow.service.json.JSONifyPipeline</param-value>
		</init-param>
	</servlet>
	<servlet>
        <servlet-name>BinningService</servlet-name>
        <servlet-class>gov.usgswim.service.ServiceServlet</servlet-class>
        <init-param>
            <param-name>pipeline-class</param-name>
            <param-value>gov.usgswim.sparrow.service.binning.BinningPipeline</param-value>
        </init-param>
	</servlet>
	<servlet>
        <servlet-name>FindReachService</servlet-name>
        <servlet-class>gov.usgswim.sparrow.service.idbypoint.FindReachService</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>SessionService</servlet-name>
        <servlet-class>gov.usgswim.sparrow.service.metadata.SavedSessionService</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>HelpService</servlet-name>
        <servlet-class>gov.usgswim.sparrow.service.help.HelpService</servlet-class>
	</servlet>



	<servlet-mapping>
		<servlet-name>ModelService</servlet-name>
		<url-pattern>/sp_model/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PredictService</servlet-name>
		<url-pattern>/sp_predict/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IDByPointService</servlet-name>
		<url-pattern>/sp_idpoint/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PredictContextService</servlet-name>
		<url-pattern>/sp_predictcontext/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EchoXMLService</servlet-name>
		<url-pattern>/sp_echo/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EchoJSONAsAttachmentService</servlet-name>
		<url-pattern>/sp_echojs/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>JSONifyService</servlet-name>
		<url-pattern>/sp_jsonify/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>BinningService</servlet-name>
        <url-pattern>/sp_binning/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>FindReachService</servlet-name>
        <url-pattern>/sp_findReach/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>HelpService</servlet-name>
		<url-pattern>/sp_help/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SessionService</servlet-name>
		<url-pattern>/sp_session/*</url-pattern>
	</servlet-mapping>

	<!-- Attribute services  -->
	<!--
	<servlet-mapping>
		<servlet-name>HucsForReachService</servlet-name>
		<url-pattern>/sp_attrib/*</url-pattern>
	</servlet-mapping>
	 -->
	<!--  End Attribute services -->
	<session-config>
		<session-timeout>35</session-timeout>
	</session-config>
	<mime-mapping>
		<extension>html</extension>
		<mime-type>text/html</mime-type>
	</mime-mapping>
	<mime-mapping>
		<extension>txt</extension>
		<mime-type>text/plain</mime-type>
	</mime-mapping>
</web-app>
