
.monitor-report, .request, .invocation, .details, .basic, .extended, .percent-complete {
	border-radius: .5em; position: relative; margin: .2em;
  -moz-box-shadow: inset 0 2px 0 rgba(255, 255, 255, 0.4), 0 2px 2px rgba(0, 0, 0, 0.2);
	box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.2);
	background-color: #fffff4;
}

.monitor-report {
	clear: both; padding: .3em;
	background-color: #dddddd; }

.details {overflow: visible; border: solid 4px #000; }
.details .extended { display: none; }

.details:hover .extended {
	display: block; position: absolute; top: 100%; left: 6em; padding: .3em; z-index: 99;
	max-height: 6em; max-width: 90%; overflow: auto; 
	background-color: #ffffcc;
}

.start-time-ms { display: none; }
.start-time { }

.request { clear: both; margin: .5em 0; }

.invocation {}

/*.not-finished { background-color: #ffdddd; }

.finished { background-color: #ddffdd; }*/

.has-error > .details { border: solid 10px #ff0000 !important; }
.servlet > .details { border-style: dashed; }
.cache > .details { border-style: dotted; }
.cache-hit > .details { border-color: #47ff63; }
.cache-miss > .details { border-color: #ff4763; }
.action > .details { }

.details p { margin: .1em .3em; }

.percent-complete {
	position: absolute; top: 0; right: 0; width: 30em; z-index: 1;
	background-color: #fffffa;
}

.start-time .val { font-weight: bold; }
.request-target .desc { display: none; }