body { background-color: #ffe; }

.content h1, .content h2, .content h3, content h4 { text-align: center; }
.content h1 { margin-bottom: .2em; padding-bottom: .2em; }
.content h2 { margin-bottom: .2em; padding-bottom: .1em; }
.content h3 { margin-bottom: .1em; padding-bottom: .1em; }
.content h4 { margin-bottom: .1em; padding-bottom: .1em; }
.content h5 { margin-bottom: .1em; padding-bottom: .1em; }
.content p { margin-top: .3em; margin-bottom: .3em; }

/**
Head Section */
.explanation {
	margin: .4em 0; padding: .3em; background-color: #eefff0; border: solid 1px #000;
}
.explanation p { margin: .2em 0; }

.columns-2 { border: solid 1px #000; border-left: none; width: auto; }
.column { border-left: solid 1px #000; background-color:transparent !important; }

.to-and-from-area { }
#agg-upstream-form { width: 100%;}
.from-aggregate-area { background-color: #fff; }
.to-downstream-reaches-area { background-color: #fff; }
.column .content { padding: 0 .4em; }
.export-area { clear: both; }
.downstream-reaches-out-of-sync {
	display: none; /* Initially not displayed */
	padding: .3em; font-weight: bold; color: #300; border: solid 3px #900;
}
.downstream-reaches-list { font-size: 75%; }

.report-area {
	clear: both;	/* Don't let it float into or off the side of the column area above */
	position: relative;	/* Allows it to be layout parent */
}
.report-load-status {
	display: none; /* Only shown when code turns it on */
	position: absolute;	top: 0; left: 0; width: 100%; height: 100%; padding: 1em 0;
	background-color: #fff;
}
.report-load-status .message { text-align: center; }

.report-table-area {
}

table {
	border-collapse:collapse;
	background-color: #fff;	
}

table, th, td { border: 1px solid black; padding: .3em; }

table th {
	font-weight: bold;
	background-color: #ddd;
}

/**
Relative percentage cells */
td.rel-percent-in-col { padding: 0; }

.rel-percent-in-col div {
 float: right; height: 100%; margin: 0; padding: 1.2em 0;
 background-color: #ffc;  border-left: solid 1px #000;
}

.rel-percent-in-col span { overflow: visible; float: right; padding: 0 .2em; }

rel-percent-in-row div {
 bottom: 0; width: 100%; margin: 0; padding: 0;
 background-color: #ffc;  border-top: solid 1px #000;
}

.rel-percent-in-row span { overflow: visible; float: right; padding: 0 .2em; }

/* Uses the 'off left' technique to hide
 * unused tabs instead of the 'display none' technique.
 * This allows animations (in particular show / hide)
 * to work correctly on hidden tabs.
 */
.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
		display: block !important;
}