body { background-color: #ffe; }

.content h1, .content h2, .content h3 { text-align: center; }

table {
	border-collapse:collapse;
	background-color: #fff;	
}

table, th, td { border: 1px solid black; padding: .3em; }

table th {
	font-weight: bold;
	background-color: #ddd;
}

/**
Relative percentage cells */
td.rel-percent-in-col { padding: 0; }

.rel-percent-in-col div {
 float: right; height: 100%; margin: 0; padding: 1.2em 0;
 background-color: #ffc;  border-left: solid 1px #000;
}

.rel-percent-in-col span { overflow: visible; float: right; padding: 0 .2em; }

rel-percent-in-row div {
 bottom: 0; width: 100%; margin: 0; padding: 0;
 background-color: #ffc;  border-top: solid 1px #000;
}

.rel-percent-in-row span { overflow: visible; float: right; padding: 0 .2em; }

/**
Other area formats */
.explination {
	margin: .4em 0; padding: .3em; background-color: #eefff0; border: solid 1px #000;
}
.explination p { margin: .2em 0; }
